// 对项目提供SCSS全局变量
// 定义项目主题颜色
// 左侧菜单的宽度
$base-menu-width: 260px;
// 左侧菜单背景颜色
$base-menu-background: #001529;
// 左侧菜单折叠宽度
$base-menu-min-width: 60px;
// 顶部导航高度
$base-tabbar-height: 50px;
// 左侧菜单Logo高度
$base-menu-logo-height: 50px;
// 左侧菜单Logo右侧文字大小
$base-logo-title-fontSize: 20px